---
import CalcLayout from "../../layouts/CalcLayout.astro";
import CreditCalc from "../../components/CreditCalc";
---
<CalcLayout title="Калькулятор кредита" description="Рассчитайте ежемесячный платеж и переплату по кредиту">
  <div class="calc-page">
    <div class="calc-header">
      <a href="/">←</a>
      <h1 class="title">Калькулятор кредита</h1>
    </div>
    <p class="calc-description">
      Рассчитайте ежемесячный платёж, переплату и полную стоимость кредита. Поддерживает аннуитетный и     
      дифференцированный типы платежей, учитывает частичные досрочные погашения. Узнайте, как изменятся    
      платежи при досрочном погашении или какой остаток долга будет на нужную дату.
    </p>
    <CreditCalc client:load />
  </div>
</CalcLayout>
