---
import CalcLayout from "../../layouts/CalcLayout.astro";
import MortgageCalc from "../../components/MortgageCalc";
---
<CalcLayout title="Калькулятор ипотеки" description="Рассчитайте ежемесячный платеж и переплату по кредиту">
  <div class="calc-page">
    <div class="calc-header">
      <a href="/">←</a>
      <h1 class="title">Калькулятор ипотеки</h1>
    </div>
    <p class="calc-description">
      Рассчитайте ежемесячный платёж и переплату по ипотеке с учётом первоначального взноса. Поддерживает  
      аннуитетный и дифференцированный типы платежей, а также частичные досрочные погашения. Узнайте, как  
      сократить срок или уменьшить платёж при внесении дополнительных средств.
    </p>
    <MortgageCalc client:load />
  </div>
</CalcLayout>
